# Python bytecode
__pycache__/
*.py[cod]

# Virtualenvs
.venv/
venv/
env/

# Build artifacts
dist/
build/
*.egg-info/

# Ruff cache (важно по ТЗ)
.ruff_cache/

# Logs / runtime
logs/
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets
.env
